[Desktop Entry]
Name=Hello Again
GenericName=Hello World App
Comment=Proves that Akilan apps can have desktop files
Categories=Utility;Education;
Exec=com.github.fidelisakilan.helloagainworld
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;World;Example;
